* {
    box-sizing: border-box;
}

.btn {
  /* remove all the default properties of the element in the base css */
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    
    outline: none;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;

    /* height: 30px;
    width: 80px;
    margin: 3px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100rem; */
}

.btn:hover, .btn:focus {
    background-color: hsl(10, 0%, 80%);
    box-shadow: 0 0 5px 0 hsl(0%, 0%, 70%);
    
}

.btn.primary {
    background-color: hsl(271, 70%, 50%);
    border-color: hsl(271, 70%, 30%);
}

.btn.primary:hover, .btn.primary:focus {
    background-color: hsl(112, 21%, 44%);
    box-shadow: 0 0 5px 0 hsl(0%, 0%, 70%);
}
.btn.blue {
    background-color: blue;
}

.color-white {
    color: white;

}

.color-red {
    color: red;
}

.large {
    font-size: 1.25rem;
}

.small {
    font-size: .75rem;
}

.pill {
    border-radius: 50%;
}

.btn.custom {
    /* linear-gradient(direction, color-from, color-to) */
    background: linear-gradient(to right, hsl(271, 70%, 40%), hsl(200, 100%, 30%) );
    border-color: black;
    /*  border-shadow: x-offset, y-offset, spread-out, blur-out, color */
    box-shadow: 0 0 5px 0 black;
}