* {
    box-sizing: border-box;
}
.input {
    border-radius: .2rem;
    height: 30px;
    font-size: 1rem;
    border: .5px solid #AAA;
    margin: 3px;
    padding: 5px;
    outline: none;
}

.input.input-success {
    border-color: #27AE60;
  }

.input.input-success:focus, .input.input-success:hover {
    border-color: #0F0;
    box-shadow: 0 0 5px 0 #0F0;
}

.input.input-error {
    border-color: #dd2f2f;
  }

.input.input-error:focus, .input.input-error:hover {
    border-color: rgb(233, 51, 51);
    box-shadow: 0 0 5px 0 rgb(218, 31, 47);
}

.input-large {
    height: 40px;
}
.input-small {
    height: 20px;
    font-size: .75rem;
}