<<<<<<< HEAD
<<<<<<< HEAD
header {
=======
header, #footer {
>>>>>>> main
    background-color: purple;
}
.header-text,#footer {
    color: white;
<<<<<<< HEAD
}
=======
header, #footer {
    background-color: purple;
}
.header-text,#footer {
    color: white;
=======
>>>>>>> main
    text-align: center;
}
.article-title {
    font-family: Arial, Helvetica, sans-serif;
}
.article-date {
    font-style: italic;
}
.article-author, .article-author {
    color: grey;
}
<<<<<<< HEAD
>>>>>>> 1816585 (initial commit)
=======
>>>>>>> main
